name: Run Test
on: [pull_request]
jobs:
  test-ci:
    name: anchor platform test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Java Anchor SDK
        uses: actions/checkout@v2
        with:
          repository: stellar/java-stellar-anchor-sdk
      - name: Run docker
        env:
          TEST_PROFILE_NAME: default
        run:
          docker compose -f docker-compose.yaml --profile v2-stable up -d
      - name: Wait for docker to be ready
        uses: mydea/action-wait-for-api@v1
        with:
          url: "http://localhost:8080/.well-known/stellar.toml"
          expected-status: "200"
          timeout: "300"
          interval: "1"
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18
      - run: yarn install
      - run: yarn test:anchorplatform:ci
